*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.exclusive{
    background-image: url("../images/exclusive\ access.jpeg");
}
.client_success{
    background-image: url("../images/client\ success\ pic.jpeg");
}