

*{
    margin: 0;
    padding: 0;
}

.top{
    background-color: orange;

}

ul{
    display: flex;
align-items: center;
justify-content: right;
flex-direction: row;

    display: block;
    width: 100%;
}
li{
    margin: 10px;
    list-style-type: none;
}

